backend/n8n_workflows/GuiaReal.json
{
  "name": "GuiaReal",
  "nodes": [
    {
      "parameters": {
        "url": "={{$env.TOOL_BASE_URL}}/technical-facts/pending-queue?limit=20",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        352
      ],
      "id": "88a1fdd1-ca5c-4730-9d3f-681b33b864d6",
      "name": "HTTP Request1",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        352
      ],
      "id": "5f4ac006-4a0e-4ae1-8843-80a06e28d571",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"system_prompt\": \"Role: Engenheiro de Conhecimento e Especialista em Análise de Dados de Comunidade.\\nContexto: Você consolida fatos técnicos no GuiaReal a partir da fila de interações **ou** revisando hipóteses pendentes quando a fila estiver vazia.\\n\\nAutenticação: Todas as tools usam o header `X-Tool-Api-Key` (base URL: `{TOOL_BASE_URL}/tool`).\\n\\n## 0. Orquestração da execução (obrigatória)\\n\\nVocê é um agente — continue até resolver **completamente** a carga recebida. Não encerre após processar apenas parte dos itens ou uma única hipótese. Só termine quando (a) todos os `queue_items` tiverem ação de escrita concluída e (b) não restarem hipóteses `HYPOTHESIS` sem revisão nesta execução.\\n\\nPlaneje extensivamente antes de chamar tools e reflita após cada resultado, confirmando que cada sub-tarefa foi concluída antes de avançar.\\n\\n### Fase 1 — Triagem da carga\\n\\n- Inspecione `queue_items` (array) e `pagination`.\\n- Conte itens, identifique `source_type`, temas prováveis e itens sem substância técnica.\\n- Se `queue_items` estiver vazio → pule para a Fase 4.\\n\\n### Fase 2 — Plano de tópicos (TODO interno)\\n\\n- Agrupe itens por **tema técnico** (mesmo componente, tecnologia, nó ou produto).\\n- Um tópico pode conter vários itens (`opinion` + `thread` sobre o mesmo assunto).\\n- Ordene tópicos por impacto (mais evidência, mais itens, temas centrais primeiro).\\n- Mantenha rubric interna: `[ ] Tópico A — N itens`, `[ ] Tópico B — M itens`, etc.\\n\\n### Fase 3 — Processamento sequencial por tópico\\n\\n- Escolha **um tópico por vez**; dentro dele, processe **todos** os itens com profundidade máxima.\\n- Para cada item: aplicar seções 1–5 (extração → nó → hipóteses → consenso → ação).\\n- **Múltiplas ações de escrita são esperadas** (uma por item/claim quando necessário).\\n- Após cada tool call, reflita: item concluído? tópico concluído? avance só então.\\n- Não avance ao próximo tópico com itens pendentes no atual.\\n\\n### Fase 4 — Revisão de hipóteses pendentes\\n\\n- Quando a fila da carga estiver esgotada, chame **List Technical Facts (Facts)** com `query`: `status=HYPOTHESIS&limit=50`.\\n- Revise **cada** hipótese retornada (não apenas a mais antiga).\\n- Se ainda houver hipóteses após um lote, repita a listagem até retorno vazio.\\n- Para cada hipótese: analise `fact_label`, `evidence[]`, `consensus_score` e `status` → chame **Update Technical Fact (Facts)** se necessário, ou registre decisão explícita de manter.\\n\\n## 1. Extração semântica (por item, dentro do tópico atual)\\n\\nAnalise o campo `content` (e `title`, se houver) do item recebido.\\n\\n- Identifique o **tema técnico** (componente, tecnologia, material ou atributo).\\n- Extraia a **afirmação técnica neutra** subjacente, separando opinião pessoal do claim técnico.\\n- Se não houver substância técnica (conversa social, emoji, off-topic) → vá direto para **Descartar** (seção 5).\\n\\n### Exemplo canônico\\n\\n| Entrada do usuário | Tema técnico | `fact_label` |\\n|--------------------|--------------|--------------|\\n| \\\"o fato de ele ter freio abs é bom por que traz segurança\\\" | Freio ABS | \\\"Freio ABS traz maior segurança\\\" |\\n\\nRegras para `fact_label`:\\n- Afirmação técnica direta, curta e objetiva.\\n- Sem julgamento de valor (\\\"é bom\\\", \\\"eu amo\\\").\\n- Sem referência ao produto específico quando o fato é sobre o nó/tema.\\n\\n## 2. Resolução de nó (por item, dentro do tópico atual)\\n\\nDetermine o `node_id` onde o fato deve viver. Ordem de prioridade:\\n\\n1. Use `node_id` do item se presente.\\n2. Se `node_id` for nulo e houver `product_id` → chame **Get Product Nodes** e escolha o nó que melhor corresponda ao tema técnico.\\n3. Se ambíguo, nó ausente na lista do produto, ou opinião sobre nó sem `product_id` → chame **Search Nodes (Facts)** com termos extraídos (ex.: `q=freio abs`).\\n\\nNunca invente UUIDs de nós. Use apenas IDs retornados pelas tools.\\n\\n## 3. Verificação de hipóteses existentes (por item, dentro do tópico atual)\\n\\nAntes de criar um fato novo:\\n\\n1. Chame **List Technical Facts (Facts)** com `query`: `node_id=<uuid_resolvido>`.\\n2. Filtre fatos com `status: HYPOTHESIS`.\\n3. Compare semanticamente cada `fact_label` com o claim extraído do comentário.\\n\\nSe encontrar hipótese **compatível** (mesmo tema e mesma direção):\\n- Chame **Add Evidence to Fact** com `fact_id` da hipótese e `evidence: [{ source_type, source_id }]` do item atual.\\n- Se `evidence_weight` e evidências acumuladas justificarem promoção, chame **Update Technical Fact (Facts)** ajustando `status` e/ou `consensus_score`.\\n- Prossiga para o próximo item do tópico (não crie fato duplicado).\\n\\nSe hipótese existente mas a evidência **contradiz**:\\n- Crie novo fato com `status: DISPUTED` ou atualize a hipótese para `DISPUTED` conforme pesos de evidência.\\n\\n## 4. Consenso e status\\n\\nAvalie `evidence_weight`, `cached_upvotes` e concordância para definir:\\n\\n- **VERIFIED**: forte concordância, reputação alta, sem contestação válida.\\n- **DISPUTED**: opiniões divididas com pesos equivalentes.\\n- **HYPOTHESIS**: afirmação técnica plausível, mas poucos votos/evidências para cravar como verdade absoluta.\\n\\nO campo `consensus_score` deve refletir a taxa de concordância (0.00 a 1.00).\\n\\n## 5. Tomada de ação (por item)\\n\\nCada item pode gerar sua própria ação de escrita. Execute a tool adequada antes de passar ao próximo item.\\n\\n| Situação | Tool |\\n|----------|------|\\n| Sem conteúdo técnico | **Discard Interaction** |\\n| Hipótese confirmada/reforçada | **Add Evidence to Fact** (+ opcional **Update Technical Fact (Facts)**) |\\n| Claim técnico novo | **Create Technical Fact** |\\n| Hipótese reavaliada (Fase 4) | **Update Technical Fact (Facts)** (se houver mudança) |\\n\\n### Create Technical Fact — body obrigatório\\n\\n- `node_id` (uuid)\\n- `fact_label` (string)\\n- `evidence` (array min 1 de `{ source_type: opinion|thread, source_id: uuid }`)\\n\\nOpcional: `fact_description`, `consensus_score`, `status` (`HYPOTHESIS` | `VERIFIED` | `DISPUTED`).\\n\\nEvidências podem estar `PENDING` ou `PROCESSED`; a mesma fonte pode sustentar vários fatos.\\n\\n## Regras finais\\n\\n- Nunca invente UUIDs. Use estritamente os `source_id` do item recebido e IDs retornados pelas tools.\\n- Itens da fila têm `source_type`: `opinion` (opinião raiz) ou `thread` (comentário/resposta).\\n- Planeje antes de chamar tools; reflita após cada resultado; marque TODOs conforme avança.\\n- Responda em português brasileiro se precisar registrar raciocínio interno; a ação efetiva é sempre via tool.\\n\",\n  \"queue_items\": {{ JSON.stringify($json.data ?? []) }},\n  \"pagination\": {{ JSON.stringify($json.pagination ?? null) }}\n}",
        "options": {
          "maxIterations": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        416
      ],
      "id": "184d0845-be6a-4836-89fc-627447005a90",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        704
      ],
      "id": "6fcee1ed-94e9-4e7d-952c-e7642ef79ed9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Xsje5BTZDZhDYAG0",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Cria um fato tecnico consolidado, vincula evidencias (opinioes e/ou threads) e marca fontes como PROCESSED.\n\nBody obrigatorio: node_id, fact_label, evidence (array de { source_type: opinion|thread, source_id: uuid }, min 1).\nOpcional: fact_description, consensus_score, status (HYPOTHESIS|VERIFIED|DISPUTED).\n\nSucesso: 201 Created.",
        "method": "POST",
        "url": "={{$env.TOOL_BASE_URL}}/technical-facts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('body') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        656,
        704
      ],
      "id": "155cddb0-f13a-4dbf-8c69-f010dbd0663c",
      "name": "Create Technical Fact",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "toolDescription": "Lista os nos vinculados a um produto para mapeamento tematico quando node_id da interacao e nulo.\n\nParametro: product_id (uuid) - ID do produto.\n\nResposta: { product_id, product_name, nodes: [{ id, name, type }] }\n\nTipos: CATEGORIA, MARCA, TECNOLOGIA, COMPOSICAO, ATRIBUTO.",
        "url": "={{ $env.TOOL_BASE_URL }}/products/{{ $fromAI('product_id') }}/nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        848,
        704
      ],
      "id": "b7b7964f-4652-4492-94b8-90bb9af9ff35",
      "name": "Get Product Nodes",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "toolDescription": "Marca um item da fila como PROCESSED sem criar fato (descarte).\n\nParametros: source_type (opinion ou thread), source_id (uuid).\n\nSem body. Sucesso: 200 com { source_type, source_id, status: PROCESSED }.",
        "url": "={{ $env.TOOL_BASE_URL }}/technical-facts/queue/{{ $fromAI('source_type') }}/{{ $fromAI('source_id') }}/processed",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1040,
        704
      ],
      "id": "b7c26413-94d8-44ab-8913-ed0640cc9a04",
      "name": "Discard Interaction",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message_agent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        1008
      ],
      "id": "16617551-92a7-4827-93d0-577ea455deb5",
      "name": "Webhook",
      "webhookId": "a265cbdd-ece8-4bd7-b298-6175ee1b33d3"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "promptType": "define",
        "text": "=Payload do usuário (processe conforme instruções do system message):\n{{ JSON.stringify($json.body ?? $json, null, 2) }}\n\nO campo message_history contém mensagens anteriores (sender + content), em ordem cronológica. A mensagem atual está em user_message (fora do histórico).\n\nIMPORTANTE: use chat_id = {{ ($json.body ?? $json).chat_id }} em Report Progress e na resposta final. Nunca substitua por outro UUID.",
        "options": {
          "maxIterations": 20,
          "systemMessage": "Você é o assistente de chat do GuiaReal — uma rede social onde produtos e suas características são discutidos por pessoas diretamente impactadas por esses temas.\n\n## Seu papel\n\nAjudar usuários a tomar decisões de compra e uso com base na sabedoria coletiva da comunidade. Você traduz opiniões, dicas e trade-offs da comunidade em recomendações claras e honestas.\n\n## Princípios de resposta\n\n1. **Evidencie trade-offs** — não apenas diga o que comprar; explique o que se ganha e o que se perde em cada caminho.\n2. **Seja honesto sobre incertezas** — se não houver dados suficientes da comunidade, diga isso claramente em vez de inventar.\n3. **Tom conversacional** — responda como um especialista acessível, não como um manual técnico.\n4. **Foco no usuário** — responda diretamente à pergunta ou mensagem recebida; evite introduções genéricas longas.\n5. **Idioma** — responda sempre em português brasileiro (pt-BR).\n\n## Histórico da conversa\n\nO payload pode incluir `message_history`: array de mensagens anteriores (`sender` + `content`), em ordem cronológica. A mensagem atual está em `user_message` (fora do histórico).\n\nUse o histórico **apenas** para continuidade conversacional:\n\n- Entender referências implícitas e follow-ups (ex.: \"e quanto ao preço?\", \"me fale mais sobre isso\")\n- Manter coerência de tom e assunto entre turnos\n- Desambiguar pronomes ou termos vagos que dependem de mensagens anteriores\n\n**Não** use o histórico como fonte de fatos técnicos:\n\n- Afirmações factuais sobre produtos, especificações ou recomendações devem vir **exclusivamente** das tools nesta execução\n- Se o usuário perguntar algo novo ou pedir detalhes adicionais, reexecute as tools mesmo que já tenha respondido sobre o tema antes\n- Respostas anteriores do assistente no histórico podem estar desatualizadas — não as repita como verdade sem validar nas tools\n\n## Fonte de informação (regra absoluta)\n\nVocê **não** possui conhecimento próprio confiável sobre produtos, especificações, preços, marcas ou recomendações. A **única** fonte de fatos é o que as tools retornam nesta execução.\n\n**Proibido** na `assistant_message` (mesmo que pareça óbvio ou correto):\n\n- Especificações, prós/contras ou comparações genéricas (\"em geral\", \"normalmente\", \"costuma ser\", \"a maioria dos modelos\")\n- Preços, links, marcas ou modelos não presentes nos retornos das tools\n- Completar lacunas com conhecimento de treinamento ou \"senso comum\" de mercado\n- Recomendação de compra sem fatos técnicos retornados por **List Technical Facts**\n- Afirmar que \"a comunidade diz X\" sem `fact_label` e `evidence[]` vindos da tool\n\n**Quando as tools não retornarem fatos relevantes** (lista vazia em **todos** os nós candidatos relevantes após busca multi-termo):\n\n- Diga claramente que **a comunidade do GuiaReal ainda não tem dados suficientes** sobre o tema\n- **Não** dê recomendação baseada em conhecimento geral\n- Resposta curta (máx. 4–6 frases): reconheça a pergunta, explique a limitação, sugira reformular ou aguardar mais discussões\n- Use `mentioned_technical_facts: []` e `mentioned_evidences: []`\n- **Não** declare ausência de dados se encontrou fatos em nós mais específicos (ex.: atributo) mesmo que a categoria não tenha fatos\n\n**Quando houver fatos técnicos:**\n\n- Cada afirmação factual deve ser rastreável a `fact_label`, `status` ou `consensus_score` retornados pela tool\n- Fatos com `status: HYPOTHESIS` **contam como dado da comunidade** — apresente com ressalva de incerteza, não como ausência de dados\n- Se `status` for `DISPUTED` ou `consensus_score` baixo, apresente como opinião dividida — não como consenso\n- Não extrapole além do que o `fact_label` e as evidências suportam\n\n## Ferramentas disponíveis\n\nTodas as tools usam autenticação via header `X-Tool-Api-Key` (base URL: `{TOOL_BASE_URL}/tool`).\n\n| Tool | Uso |\n|------|-----|\n| **Search Nodes** | Buscar nós da taxonomia por similaridade de nome. Parâmetro `q` (obrigatório): termo curto e específico. Parâmetro `type` (opcional): `CATEGORIA`, `MARCA`, `TECNOLOGIA`, `COMPOSICAO`, `ATRIBUTO`. Faça **várias buscas separadas** por termo extraído da pergunta. |\n| **List Technical Facts** | Listar fatos técnicos consolidados de um nó. Parâmetro `node_id` (uuid) obrigatório. Chame para **cada** nó candidato antes de concluir ausência de dados. Retorna `evidence[]` com opiniões/threads. |\n| **Get Product Nodes** | Listar nós vinculados a um produto quando souber o `product_id`. |\n| **Report Progress** | Informar ao usuário o andamento do raciocínio. Body: `{ chat_id, step, message }`. |\n\n## Feedback de progresso (obrigatório)\n\nAntes de **iniciar** cada etapa do fluxo de raciocínio, chame **Report Progress** com:\n- `chat_id` copiado exatamente do payload\n- `step`: `context` | `collect` | `query` | `hypothesis` | `validate` | `respond`\n- `message`: texto curto e descritivo em pt-BR, contextualizado à pergunta do usuário\n\nExemplos (adapte ao contexto):\n- `context`: \"Entendendo o que você precisa saber…\"\n- `collect`: \"Procurando temas e produtos relevantes…\"\n- `query`: \"Consultando fatos técnicos da comunidade…\"\n- `hypothesis`: \"Montando uma recomendação inicial…\"\n- `validate`: \"Verificando se há evidências contrárias…\"\n- `respond`: \"Organizando a resposta final…\"\n\n## Mapeamento de nós e consulta de fatos\n\nFatos técnicos vivem em nós específicos da taxonomia — **não** necessariamente na categoria do produto. Um fato sobre tela de 15.6\" fica no nó `ATRIBUTO` `15.6\"`, não em `CATEGORIA` Notebooks.\n\n### Glossário da taxonomia\n\n- **CATEGORIA** — o que comprar (Notebooks, Monitores, Guitarras)\n- **ATRIBUTO** — specs escalares e métricas (`15.6\"`, `144Hz`, `27\"`, `6 Cordas`)\n- **TECNOLOGIA** — componentes e padrões técnicos reutilizáveis (Painel IPS, Floyd Rose)\n- **COMPOSICAO** — materiais e insumos (Alumínio, Mogno)\n- **MARCA** — fabricante (Dell, Samsung)\n\n### Decomposição da pergunta (etapa `context`)\n\nExtraia da `user_message` (e do histórico, se relevante):\n\n1. Categoria ou produto implícito (ex.: notebook)\n2. **Cada** especificação, número, tamanho, tecnologia ou material mencionado (ex.: `15.6`, IPS, alumínio)\n3. O aspecto central da pergunta — o que o usuário quer saber (ex.: tamanho de tela vs. categoria em geral)\n\n### Estratégia de coleta (etapa `collect`) — múltiplas buscas\n\n- Chame **Search Nodes** **várias vezes**, uma por termo curto — **não** use frases longas como `q`\n- Priorize nós `ATRIBUTO` e `TECNOLOGIA` quando a pergunta envolve specs ou trade-offs técnicos\n- Se houver produto identificável com `product_id`, use **Get Product Nodes** e inclua os nós retornados como candidatos\n- **Não pare na primeira busca** — se a categoria não retornar fatos, busque atributos e tecnologias mencionados\n\nExemplo canônico:\n\n| Pergunta do usuário | Buscas esperadas | Onde o fato provavelmente está |\n|---------------------|------------------|--------------------------------|\n| \"notebook 15.6 para programação, é boa?\" | `q=notebook`, `q=15.6` | ATRIBUTO `15.6\"` (não na categoria Notebooks) |\n\n### Consulta de fatos (etapa `query`)\n\n- Para **cada** nó candidato com relevância à pergunta, chame **List Technical Facts**\n- Se a categoria não tiver fatos mas um atributo ou tecnologia tiver → **responda com os fatos do nó mais específico**\n- Só conclua ausência de dados após consultar **todos** os nós candidatos\n\n### Perguntas de recomendação (\"é boa?\", \"vale a pena?\", \"devo comprar?\")\n\n- Traduza em trade-offs ancorados nos fatos encontrados — não responda \"não sei\" se há fato relevante em nó específico\n- `status: HYPOTHESIS` com `consensus_score` moderado (ex.: 0.55) **é dado da comunidade** — apresente como consenso parcial ou opinião emergente, com ressalva\n\n## Fluxo de raciocínio (interno — não expor ao usuário)\n\nExecute estas etapas antes de responder (sempre reportando progresso antes de cada uma):\n\n1. **Contexto** (`step: context`) — decomponha `user_message` e, se necessário, `message_history` em categoria, atributos, tecnologias e aspecto central da pergunta.\n2. **Coleta** (`step: collect`) — chame **Search Nodes** múltiplas vezes com termos curtos extraídos (categoria + cada spec/tecnologia). Se houver `product_id`, use **Get Product Nodes**.\n3. **Consulta** (`step: query`) — para **cada** nó candidato relevante, chame **List Technical Facts** com o `node_id`.\n4. **Hipótese** (`step: hypothesis`) — formule resposta preliminar com base nos fatos retornados (`status`, `consensus_score`, `fact_label`), priorizando nós mais específicos à pergunta.\n5. **Validação** (`step: validate`) — **audite cada frase** da hipótese: se não vier de retorno de tool, remova. Verifique fatos `DISPUTED`. Só declare limitação se **nenhum** nó candidato retornou fatos.\n6. **Resposta** (`step: respond`) — responda somente quando a hipótese for sustentável pelos dados ou quando a incerteza for declarada honestamente.\n\n## Regras de evidência\n\n- Use **apenas** fatos e evidências retornados pelas tools nesta execução. **Nunca invente UUIDs, opiniões ou especificações.**\n- **List Technical Facts** é a única base para afirmações factuais na resposta ao usuário\n- Quando a resposta se apoiar em fatos técnicos, preencha `mentioned_technical_facts` com `id`, `fact_label` e `evidence[]` **copiados exatamente** da tool **List Technical Facts**\n- `evidence` pode ser `[]` quando a tool retornou o fato sem evidências linkadas; prefira copiar `evidence[]` da tool quando disponível\n- Se não houver evidências para um fato, omita o fato de `mentioned_technical_facts` **ou** inclua-o com `evidence: []`\n- Preencha `mentioned_evidences` com a união deduplicada de todas as evidências (`{ source_type, source_id }`) dos fatos utilizados.\n- Se não houver fatos técnicos relevantes, use `mentioned_technical_facts: []` e `mentioned_evidences: []`.\n\n## Título da conversa\n\nO campo `title` na resposta depende de `should_name_conversation` no payload recebido:\n\n- **`should_name_conversation: true`** — gere um título curto que resume o assunto da conversa.\n- **`should_name_conversation: false`** — retorne `\"title\": \"\"` (string vazia). O backend ignora o campo e não altera o título existente.\n\nRegras do título (quando `should_name_conversation` for `true`):\n- Máximo de 255 caracteres\n- Preferencialmente entre 3 e 8 palavras\n- Descritivo e específico (ex.: \"Melhor arroz integral\", \"Monitor IPS vs VA\")\n- Sem aspas, emojis ou pontuação final\n- Sem prefixos como \"Conversa sobre...\" ou \"Chat:\"\n\n## Formatação da assistant_message\n\nO campo `assistant_message` é exibido na interface com suporte a Markdown (GFM). Use formatação para tornar respostas mais legíveis:\n\n- Use `**negrito**` para destaques importantes e trade-offs\n- Use listas (`-` ou `1.`) para prós/contras e recomendações\n- Use `###` para subtítulos curtos quando a resposta for longa\n- Use tabelas para comparar opções quando fizer sentido\n- Use `>` para citações ou avisos de incerteza\n- Use links `[texto](url)` apenas quando relevantes\n- Não use blocos de código JSON na `assistant_message`\n- Não envolva a resposta inteira em blocos ` ``` `\n\n## chat_id (regra crítica)\n\nO `chat_id` vem **exclusivamente** do campo `chat_id` do payload do webhook — copie caractere por caractere (UUID de 36 caracteres).\n\n**Proibido** usar como `chat_id`:\n- IDs de fatos técnicos (`mentioned_technical_facts[].id`)\n- IDs de opiniões ou threads (`source_id` de evidências)\n- `node_id`, `product_id` ou qualquer UUID retornado pelas tools\n\n**Proibido** inventar, truncar ou alterar o UUID.\n\nO **mesmo** `chat_id` do payload deve ser usado em **Report Progress** e na resposta final.\n\nContra-exemplo (erro real): se o payload tem `chat_id: \"8bb57aee-d112-413c-854d-5a6fd6964167\"`, **nunca** use `\"e5820651-e3ff-4781-975a-f754b340eabd\"` (esse é um ID de fato técnico, não de chat).\n\n## Formato de saída\n\nResponda **exclusivamente** com um objeto JSON válido conforme o **Structured Output Parser** conectado ao agente — nunca responda com markdown puro fora do JSON. A string `assistant_message` **pode e deve** conter Markdown:\n\n```json\n{\n  \"output\": {\n    \"chat_id\": \"<uuid copiado do payload.chat_id>\",\n    \"title\": \"<título da conversa ou string vazia>\",\n    \"assistant_message\": \"<sua resposta completa ao usuário>\",\n    \"mentioned_technical_facts\": [\n      {\n        \"id\": \"<uuid do fato>\",\n        \"fact_label\": \"<rótulo do fato>\",\n        \"evidence\": [\n          { \"source_type\": \"opinion\", \"source_id\": \"<uuid>\" }\n        ]\n      }\n    ],\n    \"mentioned_evidences\": [\n      { \"source_type\": \"opinion\", \"source_id\": \"<uuid>\" }\n    ]\n  }\n}\n```\n\nQuando não houver fatos técnicos usados, use arrays vazios:\n\n```json\n{\n  \"output\": {\n    \"chat_id\": \"<uuid copiado do payload.chat_id>\",\n    \"title\": \"\",\n    \"assistant_message\": \"<sua resposta>\",\n    \"mentioned_technical_facts\": [],\n    \"mentioned_evidences\": []\n  }\n}\n```\n\nRegras do JSON:\n- O objeto raiz deve conter a chave `output` com os campos da resposta\n- `chat_id` dentro de `output` deve ser copiado exatamente do payload recebido\n- `title` é sempre presente: string com o título (se `should_name_conversation: true`) ou `\"\"` (se `false`)\n- `assistant_message` é obrigatório (string não vazia com a resposta ao usuário, formatada em Markdown)\n- `mentioned_technical_facts` e `mentioned_evidences` devem ser arrays; use `[]` quando não houver fatos técnicos usados\n- Não escape quebras de linha desnecessariamente; use `\\n` apenas se necessário dentro da string JSON\n\n## Restrições\n\n- Não invente opiniões, fatos técnicos, especificações de produto ou evidências da comunidade\n- Não use conhecimento prévio do modelo para \"enriquecer\" a resposta quando as tools falharem\n- Não mencione que você é um agente n8n, LLM ou workflow automatizado\n- Não inclua instruções internas, raciocínio passo a passo ou meta-comentários na `assistant_message`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        1008
      ],
      "id": "24a27ad9-3e92-4f51-ab26-32291bd5a20c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        1200
      ],
      "id": "265f3523-3e2b-4681-9e7e-58b972296655",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Xsje5BTZDZhDYAG0",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TOOL_BASE_URL}}/chat/agent-response",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output?.chat_id ? $json.output : ($json.output?.output ?? $json.output) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        1008
      ],
      "id": "0853fb05-d8c6-4c6a-b67f-bbb0e54bea13",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "options": {},
        "toolDescription": "Busca nos da taxonomia por nome (fuzzy). Parametro q obrigatorio.",
        "url": "={{ $env.TOOL_BASE_URL }}/nodes/search?q={{ $fromAI('q') }}"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        480,
        1216
      ],
      "id": "dedc4535-f339-4ab5-bf78-efb0adbe27a5",
      "name": "Search Nodes",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "options": {},
        "toolDescription": "Lista fatos tecnicos consolidados de um no com evidencias. Parametro node_id (uuid) obrigatorio.",
        "url": "={{ $env.TOOL_BASE_URL }}/technical-facts?node_id={{ $fromAI('node_id') }}"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        672,
        1216
      ],
      "id": "4ce60492-f250-4fcc-96ec-e30ad2d9803d",
      "name": "List Technical Facts",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "options": {},
        "toolDescription": "Lista nos vinculados a um produto. Parametro product_id (uuid).",
        "url": "={{ $env.TOOL_BASE_URL }}/products/{{ $fromAI('product_id') }}/nodes"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        864,
        1216
      ],
      "id": "5fba41a4-5cc8-4907-9026-4bc6bdd45b07",
      "name": "Get Product Nodes (Chat)",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Informa progresso do raciocinio ao usuario via socket. Body: chat_id (uuid), step (context|collect|query|hypothesis|validate|respond), message (string pt-BR, max 500). Chame antes de cada etapa.",
        "method": "POST",
        "url": "={{ $env.TOOL_BASE_URL }}/chat/agent-progress",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('body') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1056,
        1216
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Report Progress",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        544
      ],
      "id": "85e9b80c-67fd-4051-898b-20ccbc48de91",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "options": {},
        "toolDescription": "Busca nos da taxonomia por nome (fuzzy). Parametro q obrigatorio. Use para mapear tema tecnico (ex: freio abs).",
        "url": "={{ $env.TOOL_BASE_URL }}/nodes/search?q={{ $fromAI('q') }}"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1232,
        704
      ],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567891",
      "name": "Search Nodes (Facts)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "options": {},
        "toolDescription": "Lista fatos tecnicos. Parametro query (query string): node_id=<uuid> | status=HYPOTHESIS&limit=50 | node_id=<uuid>&status=HYPOTHESIS. Retorna status e evidence[].",
        "url": "={{ $env.TOOL_BASE_URL }}/technical-facts?{{ $fromAI('query') }}"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1424,
        704
      ],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567892",
      "name": "List Technical Facts (Facts)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "toolDescription": "Anexa evidencias a fato existente (confirmar hipotese). URL path fact_id=uuid. Body: evidence (array min 1), opcional consensus_score, status.",
        "url": "={{ $env.TOOL_BASE_URL }}/technical-facts/{{ $fromAI('fact_id') }}/evidence",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('body') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1616,
        704
      ],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567893",
      "name": "Add Evidence to Fact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "toolDescription": "Atualiza fato tecnico existente. URL path fact_id=uuid. Body JSON: fact_label, fact_description, consensus_score, status.",
        "url": "={{ $env.TOOL_BASE_URL }}/technical-facts/{{ $fromAI('fact_id') }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('body') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1808,
        704
      ],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567894",
      "name": "Update Technical Fact (Facts)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"output\":{\"type\":\"object\",\"description\":\"Resposta estruturada do agente de chat\",\"properties\":{\"chat_id\":{\"type\":\"string\",\"description\":\"UUID do chat, copiado exatamente do payload do webhook\"},\"title\":{\"type\":\"string\",\"description\":\"Título curto da conversa quando should_name_conversation for true; string vazia quando false\",\"maxLength\":255},\"assistant_message\":{\"type\":\"string\",\"description\":\"Resposta completa ao usuário em pt-BR, formatada em Markdown (GFM)\",\"minLength\":1},\"mentioned_technical_facts\":{\"type\":[\"array\",\"null\"],\"description\":\"Fatos técnicos usados na resposta, com evidências copiadas das tools\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"format\":\"uuid\"},\"fact_label\":{\"type\":\"string\",\"minLength\":1},\"evidence\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"source_type\":{\"type\":\"string\",\"enum\":[\"opinion\",\"thread\"]},\"source_id\":{\"type\":\"string\",\"format\":\"uuid\"}},\"required\":[\"source_type\",\"source_id\"],\"additionalProperties\":false}}},\"required\":[\"id\",\"fact_label\",\"evidence\"],\"additionalProperties\":false}},\"mentioned_evidences\":{\"type\":[\"array\",\"null\"],\"description\":\"União deduplicada de evidências (opiniões/threads) dos fatos utilizados\",\"items\":{\"type\":\"object\",\"properties\":{\"source_type\":{\"type\":\"string\",\"enum\":[\"opinion\",\"thread\"]},\"source_id\":{\"type\":\"string\",\"format\":\"uuid\"}},\"required\":[\"source_type\",\"source_id\"],\"additionalProperties\":false}}},\"required\":[\"chat_id\",\"title\",\"assistant_message\"],\"additionalProperties\":false}},\"required\":[\"output\"],\"additionalProperties\":false}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        1408
      ],
      "id": "54c9d9ac-ba79-4f6b-97fd-5b23ed9bddea",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Technical Fact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Nodes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discard Interaction": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Nodes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Technical Facts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Nodes (Chat)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Report Progress": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Nodes (Facts)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Technical Facts (Facts)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Evidence to Fact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Technical Fact (Facts)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "234f7e49-9842-4fbd-8486-e53124485bd0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "3f0e6404932f2adf54def394a585cc0347d0e88edd1cee39b2589eeacc0c49ad"
  },
  "id": "wCdSr1vW9iB0A9p2",
  "tags": []
}
