backend/n8n_workflows/GuiaReal Report Fact Review.json
{
  "name": "GuiaReal Report Fact Review",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "report-fact-review",
        "options": {}
      },
      "id": "0d32ef2c-b3d9-4964-a3d3-03196dad12cf",
      "name": "Report Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        112
      ],
      "webhookId": "ec49624a-478b-411f-a939-6d0b78ee86c5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.body ?? $json) }}",
        "options": {
          "systemMessage": "Role: Moderador de Conhecimento Técnico e Auditor de Evidências.\nContexto: Um administrador confirmou uma denúncia (resolution: RESOLVED) sobre um comentário ou opinião na comunidade GuiaReal. O conteúdo foi ocultado. Esse conteúdo pode estar vinculado como evidência a fatos técnicos existentes. Reavalie se essas evidências ainda sustentam os fatos após a moderação confirmada.\n\nDenúncias pendentes ou rejeitadas não chegam a este fluxo — trate a evidência como confirmadamente problemática.\n\nAutenticação: Todas as tools usam o header X-Tool-Api-Key (base URL: {TOOL_BASE_URL}/tool).\n\nFluxo:\n1. Para cada fact_id no payload, chame GET /tool/technical-facts/by-evidence/{source_type}/{source_id}.\n2. Considere reason, admin_notes e o teor do conteúdo. Como a denúncia foi confirmada, tenda a remover ou rebaixar evidências.\n3. Se inválida: DELETE /tool/technical-facts/{fact_id}/evidence/{source_type}/{source_id}.\n4. Se questionável mas o fato permanece: PATCH /tool/technical-facts/{fact_id} ajustando status e/ou consensus_score.\n5. Não crie novos fatos. Nunca invente UUIDs. consensus_score entre 0.00 e 1.00.",
          "maxIterations": null
        }
      },
      "id": "e94cf28b-170f-4231-88db-3031d9d08991",
      "name": "Report Review Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "554ab5e2-a9f2-4f80-a795-a3c9af85ad2f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "Xsje5BTZDZhDYAG0",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lista fatos técnicos e contexto da evidência denunciada. Params: source_type (opinion|thread), source_id (uuid).",
        "url": "={{ $env.TOOL_BASE_URL }}/technical-facts/by-evidence/{{ $fromAI('source_type') }}/{{ $fromAI('source_id') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "eb8852d2-c9de-4d4e-8251-fca95c9e098f",
      "name": "Get Facts By Evidence",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        352,
        336
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Atualiza fato técnico existente. Param fact_id (uuid). Body JSON: fact_label, fact_description, consensus_score, status.",
        "method": "PATCH",
        "url": "={{ $env.TOOL_BASE_URL }}/technical-facts/{{ $fromAI('fact_id') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('body') }}",
        "options": {}
      },
      "id": "3b69dc22-a71e-400e-be2a-a557bbccce94",
      "name": "Update Technical Fact",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        480,
        336
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Remove vínculo de evidência. Params: fact_id, source_type, source_id.",
        "method": "DELETE",
        "url": "={{ $env.TOOL_BASE_URL }}/technical-facts/{{ $fromAI('fact_id') }}/evidence/{{ $fromAI('source_type') }}/{{ $fromAI('source_id') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "665a49fb-cc06-4d89-9f73-834b85260bda",
      "name": "Delete Fact Evidence",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        608,
        336
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Report Webhook": {
      "main": [
        [
          {
            "node": "Report Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Report Review Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Facts By Evidence": {
      "ai_tool": [
        [
          {
            "node": "Report Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Technical Fact": {
      "ai_tool": [
        [
          {
            "node": "Report Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Fact Evidence": {
      "ai_tool": [
        [
          {
            "node": "Report Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "71ad8da2-c370-4bcf-93bf-1d9bf4f46436",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "3f0e6404932f2adf54def394a585cc0347d0e88edd1cee39b2589eeacc0c49ad"
  },
  "nodeGroups": [],
  "id": "n8rC4HvhRG1NXvRw",
  "tags": []
}