backend/n8n_workflows/GuiaReal.json
{
  "name": "GuiaReal",
  "nodes": [
    {
      "parameters": {
        "url": "={{$env.TOOL_BASE_URL}}/technical-facts/pending-interactions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        352
      ],
      "id": "88a1fdd1-ca5c-4730-9d3f-681b33b864d6",
      "name": "HTTP Request1",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        352
      ],
      "id": "5f4ac006-4a0e-4ae1-8843-80a06e28d571",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Vocẽ é o agente que cria fatos técnicos para o guia real, verifique os dados da interação da comunidade a seguir e utilize a tool para criar os dados técnicos obtidos das interações\n\n {{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        416
      ],
      "id": "184d0845-be6a-4836-89fc-627447005a90",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        704
      ],
      "id": "6fcee1ed-94e9-4e7d-952c-e7642ef79ed9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Xsje5BTZDZhDYAG0",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Cria um fato técnico consolidado, vincula evidências e marca threads como `PROCESSED`.\n\n| Item | Valor |\n|------|-------|\n| Autenticação | `X-Tool-Api-Key` |\n| Sucesso | `201 Created` |\n\n### Body\n\n| Campo | Tipo | Obrigatório |\n|-------|------|-------------|\n| `node_id` | uuid | sim |\n| `fact_label` | string | sim |\n| `fact_description` | string | não |\n| `consensus_score` | number | não |\n| `status` | `HYPOTHESIS` · `VERIFIED` · `DISPUTED` | não |\n| `evidence_thread_ids` | uuid[] (min 1) | sim |\n\n### Resposta\n\n```json\n{\n  \"id\": \"uuid\",\n  \"node_id\": \"uuid\",\n  \"fact_label\": \"Ponte fixa mantém melhor afinação\",\n  \"fact_description\": null,\n  \"consensus_score\": 0,\n  \"status\": \"HYPOTHESIS\",\n  \"last_updated\": \"2026-01-01T00:00:00.000Z\",\n  \"evidence_thread_ids\": [\"uuid\"]\n}\n```\n\n### Erros\n\n| Status | `message` típico |\n|--------|------------------|\n| `400` | Threads de evidência devem estar PENDING |\n| `404` | Nó ou thread não encontrada |\n| `422` | Payload inválido |\n\n---",
        "method": "POST",
        "url": "={{$env.TOOL_BASE_URL}}/technical-facts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('body') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        656,
        704
      ],
      "id": "155cddb0-f13a-4dbf-8c69-f010dbd0663c",
      "name": "HTTP Request",
      "credentials": {
        "httpCustomAuth": {
          "id": "J0BuhnovgG8dMMHF",
          "name": "Custom Auth account"
        },
        "httpHeaderAuth": {
          "id": "htBh4sUkshWVtGxb",
          "name": "Local Tools Credential"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        160,
        560
      ],
      "id": "181d4380-7a9f-4ff9-893b-5f5975a88b7c",
      "name": "When chat message received",
      "webhookId": "4b860eb9-a39d-4f73-98e1-ab5c24884047"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "21cab61f-df62-417a-b934-7acefaeed639",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f0e6404932f2adf54def394a585cc0347d0e88edd1cee39b2589eeacc0c49ad"
  },
  "nodeGroups": [],
  "id": "wCdSr1vW9iB0A9p2",
  "tags": []
}